{{!-- {{#if posts.length}}
<section>
  <h2>Your Posts</h2>
  <ol>
    {{#each posts as |post|}}
    <li>
      {{> post-info post}}
      <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}} --}}

{{#if cards.length}}
<section class="user-collection">
  <h2>{{cards.0.user.username}}'s Inventory</h2>
  <div class="card-wrapper">
    {{#each cards as |card|}}
    <div class="card-container">
      <img src="{{img_uri}}" alt="image of {{card_name}}">
      <button type="button" class="remove-card-btn" data-id="{{id}}">Remove card</button>
      {{card_name}}
    </div>
    {{/each}}
  </div>
  
</section>
{{/if}}




{{!-- <script src="/javascript/search-card.js"></script> --}}
<script src="/javascript/remove-card.js"></script>